* {
  box-sizing: border-box;
}

.page-sizing {
  width: 8.5in;
  //height: auto;
  margin: 0 auto;
  border: 1px solid #ccc;
}


body {
  background: #f8f9f9;
  padding-top: 50px;
}

#root {
  max-width: 1128px;
  margin: 0 auto;
}

//#toggle-view {
//  width: auto;
//}

.editor {
  .page-sizing();
  background: white;
  padding: 25px;
  display: block;
  .mdl-textfield {
    width: 100%;
  }
}

.stage-document {
  .page-sizing();
  height: 11in;
  padding: 0.75in;
  background-color: white;
  box-shadow: 2px 3px 5px #ccc;

  h1, h2, h3, h4, h5, h6 {
    font-family: Futura, sans-serif;
    color: #114967;
    text-transform: uppercase;
    left: 2px;
    letter-spacing: 4px;
    font-size: 17pt;
  }

  p {
    line-height: 22px;
    text-align: justify;

  }

  p, ul, li, ol {
    font-family: "Proxima Nova", sans-serif;
    strong {
      font-weight: 900;
    }
  }
}

